body{
    background-color: rgba(0, 0, 255, 0.132);
    margin: 0;
    padding: 0;
}

.auth{
    margin-right: 20px;
}

/* -----end of nav ----- */

.sidebar{
    margin-top: 50px;
    height: 100%;
}
.sidebar-list-group{
    width: fit-content;
    position: fixed;
    top: 100px;
}
.list-group-item{
    background-color: rgba(104, 43, 226, 0.09);
    transition: all 0.2s ease;
}

.sidebar a{
    text-decoration: none;
    color: rgb(52, 48, 25);
}
.list-group-item:hover{
    transform: translateY(-1.5px);
}
/* ----------- */

.main{
    max-width: 80%;
    margin-top: 70px;
    min-height: fit-content;
}

body::-webkit-scrollbar{
    width: 0.8em;
    /* background:linear-gradient(rgb(31, 42, 108),transparent,rgb(38, 51, 124)); */
    background-color: rgb(31, 42, 108);
    position: fixed;
}
body::-webkit-scrollbar-thumb{
    /* width: 3px; */
    background:linear-gradient(transparent,rgb(98, 4, 4),transparent)
    /* border-radius: 13px; */
}

