body{
    background-color: rgba(0, 0, 255, 0.132);
    margin: 0;
    padding: 0;
}
/* .navbar{
    opacity: 0.8;
    background-color: rgba(3, 3, 97, 0.518);
    position: sticky;
    position: absolute;
    top: 0px    ;
} */
.auth{
    margin-right: 20px;
}

/* -----end of nav ----- */

.sidebar{
    height: 100%;
    background-color: rgb(3, 3, 46);
}
.sidebar-list-group{
    width: fit-content;
    position: fixed;
    top: 70px;
}

.sidebar a{
    text-decoration: none;
}

.main{
    /* position:absolute;
    right:20px;
    top: 70px; */
    max-width: 77%;
    margin-top: 50px;
}


