




/* ---------- */

.hamburger-menu{
    width: 35px;
    height: fit-content;
    /* background-color: blue; */
    right: 20px;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 2;

}
.hamburger{
    width: 35px;
    height: 4.5px;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.7s ease;
}
.hideline-2{
    background-color: chocolate;
    width: 0px;
}
.rotateline1{
    background-color: red;
    transform: rotate(405deg) translate(3.8px, 7.5px);
}
.rotateline3{
    background-color: rgb(16, 185, 16);
    transform: rotate(-405deg) translate(3px, -7px);
}

/* ----- */


/* ----- */

@media (max-width: 700px) {
    .nav-menu{
        position: absolute;
        flex-direction: column;
        right: -100%;
        top: 0;
        padding-right: 20px;
        height: 100vh;
        transition: all 1s ease;
        /* z-index: 2; */
    }
    .navbar{
        position: fixed;

    }

    .nav-item{
        position: relative;
        top: 70px;
        /* margin-top: 10px; */
    }
    .nav-item a{
        color: rgb(255, 170, 0);
    }
    .dropdown a{
        padding-left: 13px;
    }
    .form-check{
        margin-left: 18px;
    }
    .hamburger-menu{
        display: inline;
    }
    .menu-over{
        background-color: rgba(6, 30, 51, 0.81);
        /* background-color: rgba(51, 6, 44, 0.81); */
        position: absolute;
        width: 210px;
        right: 0px;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all 0.6s ease;
        /* z-index: 2; */

    }

}

@media (min-width:701px) {
    .hamburger-menu{
        display: none;
    }

}

/* --------- */

.form-check{
    margin-top: 10px;
}
