
body{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 40, 40);
}
.main-nav{
    background-color: rgb(3, 3, 97);
    opacity: 0.8;
}


.navbrnad{
    width: 40px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 18px;
    display: inline;
}


/* --- */

.container{
    background-color: rgba(240, 248, 255, 0);
    position: relative;
    top: 70px;
}
.left-section{
    background-color: rgba(245, 245, 220, 0);
    text-align: center;
}
.profile{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.right-section{
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    /* margin: 70px 0px 0px 0px; */
    border-radius: 20px;
    color: white;
}

li{
    list-style: none;
}


.feature{
    margin: auto;
}
.list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.social{
    margin: 20px;
    border-radius: 5px;
    font-size: 30px;
    color: blueviolet;
}

/* ----------- */

.aboutme{
    background-color: rgb(20, 78, 128);
    text-align: center;
    color: aqua;
}
.section-2{
    background-color: rgb(30, 64, 94);
    height: fit-content;
    padding: 20px;
}
.skill-box{
    height: 300px;
    overflow: auto;
}


.aboutmeparagraph{
    color: aliceblue;
}

.footer{
    color: aliceblue;
    height: 200px;
    align-items: center;
    text-align: center;
}
