@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom rgb(78, 73, 73),transparent,rgb(86, 61, 61),rgb(98, 97, 97)); */
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0) 40%, rgb(49, 54, 39));
    /* background-color: rgb(221, 201, 201); */

}

body::-webkit-scrollbar {
    width: 0px;
    background-color: rgb(6, 42, 74);
    cursor: pointer;
}

body::-webkit-scrollbar:hover {
    width: 12px;
    background-color: rgb(6, 42, 74);
    cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgba(185, 255, 81, 0.341), transparent);
    border-radius: 10px;
}

/* -------body-------- */
.backgroundcover {
    position: absolute;
    width: 100vw;
    height: 520px;
    top: -80px;
    left: 0;
    z-index: -1;
    opacity: 0.7;
    filter: blur(3px);
}

/* ---------end of backgroundcover --------*/

/* .bg-cover{
    height: 80px;
} */
.body {
    margin-top: 80px;
}

.navbar {
    width: 100%;
    height: 80px;
    background: linear-gradient(rgba(3, 4, 11, 0.893) 15%, transparent);
    position: absolute;
    top: 0;
    z-index: 5;
    /* transition: all 1.5s ease-in; */
}


/* -------- */

.navbar-brand {
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 0px;
    transition: all 0.5s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-item a {
    text-decoration: none;
    font-size: 1em;
    margin-right: 3px;
    list-style: none;
    transition: all 0.7s ease-in-out;
    align-items: center;
    color: rgb(183, 216, 177);
}

.nav-item a:hover {
    color: rgb(178, 199, 110);
    transform: translateY(-3px);
    text-shadow: 0 2px 20px rgb(255, 254, 254);
}

.form-check {
    margin-top: 10px;
    /* margin-left: 15px; */
}

/* -------end of navbar -------- */

.hamburger-menu {
    position: absolute;
    width: 35px;
    height: auto;
    cursor: pointer;
}

.hamburger-menu:hover {
    opacity: 0.7;
    transition: all 0.31s ease-in-out;
}

.hamburger {
    width: 35px;
    height: 4.5px;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.7s ease;
}

.hideline-2 {
    background-color: chocolate;
    width: 0px;
}

.rotateline1 {
    background-color: red;
    transform: rotate(405deg) translate(3.8px, 7.5px);
}

.rotateline3 {
    background-color: rgb(16, 185, 16);
    transform: rotate(-405deg) translate(3px, -7px);
}

/* ----end of toggle menu --- */


/* -----responsive for nav ------ */

@media (max-width: 700px) {
    .nav-menu {
        position: absolute;
        right: -100%;
        width: 170px;
        display: flex;
        /* flex-direction: column; */
        transition: all 0.3s ease-in-out;
        height: 100vh;
        top: 0;
    }

    .hamburger-menu {
        right: 30px;
        position: absolute;
        transition: all 1s ease-in-out;
        z-index: 5;
    }

    .navbar {
        position: fixed;
        top: 0;

    }

    .nav-item {
        position: relative;
        top: 60px;
    }

    .nav-item a {
        color: rgb(255, 170, 0);

    }

    .dropdown a {
        padding-left: 13px;
    }

    .form-check {
        margin-left: 18px;
        align-items: center;
    }

    .menu-over {
        display: flex;
        background-color: rgba(6, 30, 51, 0.81);
        position: absolute;
        width: 170px;
        right: 0px;
        top: 0px;
        height: 100vh;
        flex-direction: column;
        transition: all 0.8s ease-in-out;
        z-index: -2;
    }

    .menu-over .nav-item {
        position: relative;
        top: 60px;
    }

}

@media (min-width:701px) {
    .hamburger-menu {
        position: absolute;
        right: -100px;
        /* right: 30px; */
        transition: all 1s ease-in-out;
    }

    .nav-menu {
        position: absolute;
        right: 30px;
        display: flex;
        /* flex-direction: row-reverse; */
        transition: all 0.5s ease-in-out;
    }

    .navbar {
        position: fixed;
        top: 0;
    }

}

/* -----End of MediaQuery----- */



.code-sign {
    padding-bottom: 50px;
    margin-left: 20px;

}

.code {
    opacity: 0;
    background-color: aliceblue;
    width: 1em;
    height: 0.2em;
    transition: all 1.8s ease-in;
}

.code-middle {
    width: 1.2em;
    width: 0;
    height: 0.1em;
    opacity: 1;
    transition: all 2s ease-in-out;
}


.line-a {
    opacity: 1;
    background-color: rgb(102, 200, 53);
    transform: rotate(-40deg) translate(-0.30em, 0.4em);
    border-radius: 10px;
}

.line-b {
    opacity: 1;
    background-color: rgb(42, 130, 208);
    transform: rotate(40deg) translate(0.6em, 0.75em);
    border-radius: 10px;
}

.line-c {
    opacity: 1;
    background-color: rgb(196, 100, 100);
    transform: rotate(40deg) translate(1.25em, -0.9em);
    border-radius: 10px;
}

.line-d {
    opacity: 1;
    background-color: rgb(166, 186, 102);
    transform: rotate(-40deg) translate(0.88em, 1.45em);
    border-radius: 10px;
}

.line-e {
    width: 1.2em;
    background-color: aliceblue;
    transform: rotate(-430deg) translate(0.2em, 0.7em);
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

/* --- end of nav-brand icon animation -------- */



/* .container {
    background-color: rgb(127, 138, 147);
    position: relative;
    top: 0px;
} */

/* --------- */


.left-section {
    background-color: rgba(245, 245, 220, 0);
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    transition: all 0.8s ease-in-out;
    border: 1px dotted red;
}

.profile:hover {
    transform: scale(1.03) rotate(-2deg);
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 5px 20px 5px rgba(231, 191, 191, 0.764), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

}

.right-section {
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    /* margin: 70px 0px 0px 0px; */
    border-radius: 20px;
    color: white;
}

.right-text {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.color-text {
    color: rgba(255, 0, 0, 0);
    /* -webkit-text-stroke: 0.5px red; */
    -webkit-text-stroke: 0.5px rgb(37, 220, 83);
}

.color-text-2 {
    background-image: linear-gradient(90deg, red, blue, green, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    list-style: none;
}

/* ---- intro profile ------- */

.feature {
    margin: auto;
}

.list-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.social {
    margin: 20px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(172, 83, 255);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.social:hover {
    color: rgb(34, 215, 130);
    transform: scale(1.2) translateY(-5px);
    text-shadow: 0px 2px 20px lightblue;
}

/* ------tools------- */


.aboutme {
    margin-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* font-family: cursive; */
    cursor: pointer;
    user-select: none;
}

/* -------about-me -------- */

/* ----------Section 2 progress skills------------ */


.section-2 {
    background-color: rgba(30, 64, 94, 0);
    height: fit-content;
    /* padding: 20px; */
}

.skill-box {
    height: 250px;
    overflow: auto;
    visibility: hidden;
    transition: all 1.5s ease;
    /* opacity: 0; */
    position: relative;
    left: -100%;
}


.progress {
    padding: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    user-select: none;
}

/* .progress-bar{
    transition: all 1s ease-in-out;
} */
.skill-back {
    /* opacity: 1; */
    position: relative;
    left: 0;
}

.progress:hover {
    transform: scale(1.04) translateX(20px);
}

.skill,
.skill-box:hover,
.skill-box:focus {
    transition: all 2s ease;
    visibility: visible;
}

.skill-box::-webkit-scrollbar {
    width: 8px;
    background: linear-gradient(transparent, rgba(99, 16, 16, 0.501), transparent);
    border-radius: 20px;
}

.skill-box::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(60, 147, 67), transparent);
    border-radius: 40px;
}

.aboutmeparagraph .nav-link {
    color: coral;
    transition: all 0.5s ease-in-out;
}

.aboutmeparagraph .nav-link:hover {
    color: rgba(255, 127, 80, 0.585);
    transform: translateY(-10px);
}

.aboutmeparagraph {
    width: 100%;
    min-height: 100px;
    padding: 50px;
    border-radius: 30px;
}

.aboutmeparagraph h3 {
    font-size: 2em;
}

/* -----projects------ */


.project-title {
    user-select: none;
    cursor: pointer;
    color: white;
}

.project-div{
    position: relative;
    bottom: 20%;
    border-radius: 5%;
    /* background-color: aliceblue; */
}
.project-cover{
    /* position: relative; */
    height: 150px;
    margin: 0px;
    /* top: 60px; */
    border-radius: 10px;
    background-color: rgba(3, 27, 49, 0.766);
    box-shadow: rgba(252, 235, 235, 0.759) 0px 5px 15px;
}


.project {
  background-color: rgba(255, 255, 255, 0.859);
  /* box-shadow: rgba(252, 235, 235, 0.759) 0px 5px 15px; */
  transition: all 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
    color: rgb(255, 254, 253);
    box-shadow: rgba(252, 235, 235, 0.759) 0px 5px 15px;
}


.project-text{
    background-color: transparent;
    margin-left: 30px;
    /* margin-top: 100px; */
    padding: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
}


/* -------End of Project------- */

/* ------Blogs-------- */

.index-blog {
    transition: all 0.5s ease-in-out;
}

.index-blog:hover {
    transform: translateY(-10px);
    box-shadow: rgba(252, 235, 235, 0.759) 0px 5px 15px;
    border-radius: 10px;
}

.more-blogs {
    transition: all 0.5s ease-in-out;
}

.more-blogs:hover {
    transform: translateY(-5px);
    box-shadow: rgba(138, 214, 131, 0.759) 0px 5px 15px;
    border-radius: 10px;
}

/* -------------- */

.footer {
    color: aliceblue;
    height: 200px;
    align-items: center;
    text-align: center;
}

.paginate-project {
    height: auto;
}

/* BLogs----------------- */

.more-blogs a {
    text-decoration: none;
    color: darkslateblue;
    font-weight: bolder;
    /* margin: 30px; */
}

.show-blogs a {
    text-decoration: none;
}


/* ----Blogs Hightlight--- */

.blogsHightlight {
    text-shadow: 2px 2px 35px white;
    border-radius: 50px;
    background-color: red,transparent;
    color: rgb(254, 41, 22);
    transform: scale(1.1);
    /* filter: blur(1px); */
}

/* ------------ */

.footer-img{
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    /* opacity: 0.3; */
    /* background: linear-gradient(black 25%,transparent); */
    /* background: linear-gradient(rgba(36, 47, 112, 0.893) 25%, transparent); */
    filter: blur(3px);
    z-index: -1;
}
.footer-container{
    margin-top: 150px;
    background: linear-gradient( transparent,rgba(8, 11, 28, 0.919) 75%);
}
.footer-row{
    padding-top: 30px;
}
.list-footer{
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 10%;
}
.list-footer li{
    margin-bottom: 7px;
    /* font-family:  Tahoma;     */
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    min-width: 200px;
}

.list-footer li a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(74, 62, 62);
    transition: all 0.5s ease-in-out;
}
.list-footer li a:hover{
    color: cadetblue;
}
.list-footer li:hover{
    transform: translateY(-4px);

}

.avator{
    position: absolute;
    /* top: 30px; */
    bottom: 40px;
    right: 20px;
    width: 22%;
}
@media (max-width:700px) {
    .avator{
        position: absolute;
        /* top: 30px; */
        bottom: 40px;
        right: 20px;
        width: 42%;

    }
}

.footer-text{
    /* margin-top: 80px; */
    /* margin: auto; */
    margin-left: 55px;
    width: 350px;
    text-align: start;
    /* text-align: center; */
    font-size: smaller
}
.footer-head{
    margin-left: 55px;
    margin-top: 10px;
    text-align: start;
}
.footer-icon{
    margin-left: 55px;
    margin-bottom: 15px;
}
.footer-icon li:hover{
   color: chartreuse;
}
.footer-7{
    /* width: 50%; */
    background-color: rgba(165, 42, 42, 0.415);
    margin-bottom: 20px;
}

.body{
    position: relative;
    bottom: 0px;
}

