
body{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 40, 40);
}
.main-nav{
    background-color: rgb(3, 3, 97);
    opacity: 0.8;
    height: 75px;
    background:linear-gradient(rgb(3, 3, 97),transparent);
}


.navbar-brand{
    width:fit-content;
    /* height: 60px; */
    /* background-color: aliceblue; */
    /* padding-top: 10px; */
    /* margin-top: 0px; */
    display: inline;
}

.nav-link{
    color: rgb(219, 231, 154);
    transition: all 0.5s ease-in-out;
}
.nav-link:hover{
    transform: translateY(-3px);
}
/* ----------- */

.code-sign{
    width: 2.8em;
    /* width: fit-content; */
    height: 1.7em;
    padding-bottom: 50px;
    /* background-color: brown; */
}
.code{
    /* opacity: 0; */
    background-color: aliceblue;
    width: 1em;
    height: 0.1em;
    transition: all 1.8s ease-in;
}

.code-middle{
    /* width: 1.2em; */
    width: 0;
    height: 0.1em;
    opacity: 1;
    transition: all 4s ease-in-out;
}
.line-a{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transform: rotate(-40deg) translate(-0.29em, 0.4em);
    border-radius: 10px;
}
.line-b{
    opacity: 1;
    background-color: aliceblue;
    transform: rotate(40deg) translate(0.7em, 0.75em);
    border-radius: 10px;
}

.line-c{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transform: rotate(40deg) translate(1.5em, -0.9em);
    border-radius: 10px;
}
.line-d{
    opacity: 1;
    background-color: aliceblue;
    transform: rotate(-40deg) translate(0.78em, 1.7em);
    border-radius: 10px;
}
.line-e{
    width: 1.2em;
    background-color: aliceblue;
    transform: rotate(-70deg) translate(-0.1em, 0.88em);
    border-radius: 10px;
    /* padding-left: 10px; */
    margin-right: 10px;
}












/* ----------- */


/* --- */

.container{
    background-color: rgba(240, 248, 255, 0);
    position: relative;
    top: 70px;
}
.left-section{
    background-color: rgba(245, 245, 220, 0);
    text-align: center;
}
.profile{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.right-section{
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    /* margin: 70px 0px 0px 0px; */
    border-radius: 20px;
    color: white;
}

li{
    list-style: none;
}


.feature{
    margin: auto;
}
.list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.social{
    margin: 20px;
    border-radius: 5px;
    font-size: 30px;
    color: blueviolet;
}

/* ----------- */

.aboutme{
    /* background-color: rgb(20, 78, 128); */
    text-align: center;
    color: aqua;
}
.section-2{
    background-color: rgb(30, 64, 94);
    height: fit-content;
    padding: 20px;
}
.skill-box{
    height: 300px;
    overflow: auto;
}


.aboutmeparagraph{
    width: 100%;
    min-height: 100px;
    color: aliceblue;
    background-color: black;
    padding: 50px;
}
.aboutmeparagraph h3{
    font-size: 2em;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(6, 42, 74);
    cursor: pointer;
}

body::-webkit-scrollbar-thumb{
    background:linear-gradient( transparent,rgba(185, 255, 81, 0.341),transparent);
    border-radius: 10px;

}

.skill-box::-webkit-scrollbar{
    width: 10px;

    background: linear-gradient(transparent,rgba(99, 16, 16, 0.201), transparent);
    border-radius: 20px;
}
.skill-box::-webkit-scrollbar-thumb{
    background:linear-gradient( transparent,rgba(185, 255, 81, 0.673),transparent);
    border-radius: 40px;
}

.footer{
    color: aliceblue;
    height: 200px;
    align-items: center;
    text-align: center;
}
